* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #EFF2F7;
}


.animeFade {
  opacity: 0;
  transform: transformeX(-20px);
  animation: animeFade .3s forwards;
}

@keyframes animeFade {
  to {
    opacity: 1;
    transform: initial;
  }
}

